/************** alink css******************/

a:link, a:visited {
    color: #fff;
    text-decoration:none;
} 

.green-a {
    background: #24d54a;
    display: inline-block;
    margin-left: 10px;
    padding: 10px 15px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    border-radius: 5px;
}

.blue-a {
    background: #1759C7;
    display: inline-block;
    margin-left: 10px;
    padding: 10px 15px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    border-radius: 5px;
}

.pink-a {
    background: #aa5cc3;
    display: inline-block;
    margin-left: 10px;
    padding: 10px 15px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    border-radius: 5px;
}

.yellow-a {
    background: #C7AB17;
    display: inline-block;
    margin-left: 10px;
    padding: 10px 15px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    border-radius: 5px;
}

.cyan-a {
    background: #0a9f8a;
    display: inline-block;
    margin-left: 10px;
    padding: 10px 15px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    border-radius: 5px;
}

.grey-a {
    background: #666565;
    display: inline-block;
    margin-left: 10px;
    padding: 10px 15px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    border-radius: 5px;
}

.red-a {
    background: #eb6456;
    display: inline-block;
    margin-left: 10px;
    padding: 10px 15px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    border-radius: 5px;
}
