<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="false" scanPeriod="60 seconds">
    <property name="CHARSET" value="utf-8" /><!-- 字符集 -->
    <property name="LOG_HOME" value="logs" /><!-- log目录 -->
    <property name="BACKUP" value="${LOG_HOME}/BACKUP/%d{yyyy-MM-dd}" /><!-- 日志备份目录 -->

    <!-- 日志输出格式, %c{0} 表示打印 logger 名，若 logger 名是一个类路径，则打印最后一个.右边的部分 -->
    <property name="PATTERN_DEF" value="[%d{yyyy-MM-dd HH:mm:ss SSS}] [%-5p] [%t] [%c{0}:%L] - %m%n" />

    <!-- 控制台日志器 -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${PATTERN_DEF}</pattern>
        </encoder>
        <target>System.out</target><!-- System.out|System.err -->
    </appender>

    <!-- 全局异常日志器  -->
    <appender name="exception"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/exception.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${BACKUP}/exception-%d{yyyy-MM-dd}-%i.log.zip</fileNamePattern>
            <maxHistory>7</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>64MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <charset>${CHARSET}</charset>
            <pattern>${PATTERN_DEF}</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <!-- 应用日志器  -->
    <appender name="application"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/application.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${BACKUP}/application-%d{yyyy-MM-dd}-%i.log.zip</fileNamePattern>
            <maxHistory>7</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>64MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <charset>${CHARSET}</charset>
            <pattern>${PATTERN_DEF}</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>DENY</onMatch>
            <onMismatch>ACCEPT</onMismatch>
        </filter>
    </appender>

    <!-- 应用日志 -->
    <logger name="exp.libs" level="debug" additivity="true">
        <appender-ref ref="application" />
        <appender-ref ref="exception" />
    </logger>

    <!-- 根日志 -->
    <root level="info">
        <appender-ref ref="console" />
    </root>
</configuration>